[Unit]
Description=Open VS Code Service
[Service]
User=admin
# The configuration file application.properties should be here:

#change this to your workspace
WorkingDirectory=/etc/systemd/system

#path to executable.
#executable is a bash script which calls jar file
ExecStart=/etc/systemd/system/open-vs-code.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target